* {
    margin: 0px;
    padding: 0px;
}


.Navbar .img {
    width: 150px;
    height: 150px;
}

.Navbar a {
    color: #000000 !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    line-height: 24.2px !important;
}

.Navbar form button {
    background: #843F0F !important;
    color: #FFFFFF !important;
    padding: 05px 30px !important;
    border: none !important;
    border-radius: 40px !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}

.Navbar form button:hover {
    background: #E8C19F !important;
    color: #843F0F !important;
}




/* /............../ */

.section {
    /* padding: 60px 0; */
    /* Adds padding on the top and bottom */
    /* background-color: #f8f9fa; */
    /* Light background color */
}

/* Container styling */
.section .container {
    /* max-width: 1200px; */
    /* Set a max-width for the container */
    margin: 0 auto;
    /* Center the container */
}


.section h1 {
    font-size: 65px;
    font-weight: 500;
    color: #843F0F;
}

.section p {
    color: #545454;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
}

.section button {
    background: #E8C19F !important;
    color: #843F0F !important;
    font-weight: 600;
    padding: 10px 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
}

.section button:hover {
    background-color: #843F0F;
    color: #E8C19F;
}

.section img {
    max-width: 90% !important;
    height: auto;
    position: relative;
    border-radius: 30px;
}

.section .back1 {
    position: absolute !important;
    top: 290px !important;
    left: 260px !important;
}



/* Statistics container styles */
.section .imgd {
    /* justify-content: space-around;
    align-items: flex-end; */
    width: 800px;
    height: 350px;

}

/* Individual statistic block styling */
.section .imgd div {
    text-align: center;
}

.section .imgd h1 {
    font-size: 48px;
    color: #000000;
    /* color: #007bff; */
    /* Blue color for numbers */
    font-size: 70px;
    font-weight: 400;
}

.section .imgd p {
    font-size: 18px;
    color: #333;
}



@media (max-width: 450px) {
    .section h1 {
        font-size: 40px;
        margin-top: 0px;
    }

    .section .imgd h1 {
        font-size: 35px !important;
    }

    .section .back1 {
        position: absolute !important;
        top: 40% !important;
        left: 45% !important;
    }
}


@media (max-width: 768px) {

    .section h1 {
        font-size: 40px;
        margin-top: 0px;
    }

    .section .imgd h1 {
        font-size: 35px !important;
    }

    .section .back1 {
        position: absolute !important;
        top: 40% !important;
        left: 45% !important;
    }

    .section button{
        font-size: 15px !important;
    }
/* 
    .section .back1{
        width:60px;
        height:60px;
    } */


     .col-md-8,
    .col-md-4,
    .col-md-6 {
        width: 100%;
        margin-bottom: 20px;
    }

    .imgd {
        flex-direction: column;
        align-items: center;
        display: none;
    }

}





/* /............../ */


/* <!-- Swiper --> */

.section1 .swiper {
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.section1 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

.section1 .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    top: 600px;
    z-index: 10;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
}

.section1 .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}


@media (max-width: 450px) {

    .section1 .swiper {
        width: 100% !important;
    }
}

@media (max-width: 768px) {

   

}



/* /............../ */


.section2 img {
    border-radius: 30px !important;
}

.section2 {
    padding: 20px 0 !important;
}

.section2 h1 {
    color: #843F0F !important;
    font-size: 60px !important;
    font-weight: 500 !important;
}

.section2 p {
    color: #545454 !important;
    font-size: 20px !important;
    font-weight: 400 !important;
}


@media (max-width: 450px) {

    .section2 h1 {
        font-size: 45px !important;
    }
}










/* /............../ */


.section3 .content h2 {
    font-size: 20px;
    color: #FFFFFF;
}

.section3 .content p {
    color: #FFFFFF;
}


.section3 .other {
    background-color: #843F0F;
    padding: 200px;
    border-radius: 15px;
    width: 100%;
    height: 250px;
    max-width: 1300px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}

.section3 .content {
    position: relative;
    z-index: 1;
}

.section3 .other::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/fg.jpeg');
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: 0;
}


@media (max-width: 450px) {

    .section3 .other {
        max-width: 100px !important;
    }

    .section3 .content {
        position: absolute;
        left: 0%;
        bottom: 30%;
    }

    .section3 .content h2 {
        font-size: 30px;
    }

    .section3 .content p {
        font-size: 10px;
    }
}




/* /............../ */


.section5 .our h1 {
    color: #843F0F !important;
    font-size: 60px !important;
    font-weight: 500 !important;
}

.section5 h3 {
    font-size: 30px !important;
    font-weight: 600 !important;
    color: #1F1F1F !important;
}

.section5 p {
    font-size: 20px !important;
    font-weight: 400 !important;
    line-height: 35px !important;
    color: #545454 !important;
}


@media (max-width: 450px) {

    .section5 .our h1 {
        font-size: 45px !important;
    }
}



/* /............../ */


.section6 .our h1 {
    color: #843F0F !important;
    font-size: 60px !important;
    font-weight: 500 !important;
}

.section6 h1 {
    font-size: 40px !important;
    font-weight: 700 !important;
    color: #1F1F1F33 !important;
}

.section6 h3 {
    font-size: 30px !important;
    font-weight: 600 !important;
    color: #1F1F1F !important;
}

.section6 p {
    font-size: 20px !important;
    font-weight: 400 !important;
    color: #545454 !important;
}


@media (max-width: 450px) {

    .section6 .our h1 {
        font-size: 45px !important;
    }
}




/* /............../ */


.section7 .Testimonials .Tes h1 {
    color: #843F0F !important;
    font-size: 60px !important;
    font-weight: 500 !important;
}

.section7 .Testimonials .card {
    display: none !important;
    max-width: 100% !important;
    text-align: center !important;
    border: none !important;
}

.section7 .Testimonials .card.active {
    display: block !important;
    animation: fadeIn 0.5s ease-in-out !important;
}

.section7 .Testimonials blockquote i {
    font-size: 25px !important;
    color: gold !important;
}


.section7 .Testimonials blockquote p {
    font-size: 20px !important;
    font-weight: 400 !important;
    line-height: 24.2px !important;
    color: #8A8A8A !important;
}

.section7 .Testimonials blockquote {
    background: #F3F3F3 !important;
    color: #8A8A8A !important;
    padding: 16px !important;
    border-radius: 12px !important;
    font-size: 14px !important;
    width: 350px !important;
    position: relative !important;
}

.section7 .Testimonials blockquote::before {
    content: "" !important;
    position: absolute !important;
    bottom: -10px !important;
    left: 50% !important;
    transform: translateX(-50%) rotate(45deg) !important;
    border-radius: 0px 0px 10px 0px !important;
    width: 40px !important;
    height: 40px !important;
    background: #F3F3F3 !important;
}

.section7 .Testimonials .details img {
    width: 64px !important;
    height: 64px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
}

.section7 .Testimonials .details .name {
    font-size: 22px !important;
    font-weight: 400 !important;
    color: #000000 !important;
}


.section7 .Testimonials .slider-button {
    background: #FFFFFF !important;
    color: #843F0F !important;
    border: 1px solid #843F0F !important;
    width: 50px !important;
    height: 50px;
    border-radius: 50% !important;
    font-size: 25px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    cursor: pointer !important;
    transition: background 0.3s ease, transform 0.3s ease !important;

}

.section7 .Testimonials .slider-button:hover {
    background: #843F0F !important;
    color: #FFFFFF !important;
    transform: scale(1.1) !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px) !important;
    }

    to {
        opacity: 1;
        transform: translateY(0) !important;
    }
}


/* hover image */

.section7 .Testimonials .thumbi {
    min-width: 250px !important;
    height: 100% !important;
    -webkit-flex: 1 !important;
    -ms-flex: 1 !important;
    flex: 1 !important;
    overflow: hidden !important;
    outline: 2px solid white !important;
    outline-offset: -15px !important;
    border-radius: 30px !important;
}

.section7 .Testimonials .thumbi .thumbnail {
    overflow: hidden !important;
    min-width: 250px !important;
    height: 100% !important;
    position: relative !important;
    backface-visibility: hidden !important;
    transition: all 0.4s ease-out !important;
}

.section7 .Testimonials .thumbi .thumbnail img {
    position: absolute !important;
    z-index: 1 !important;
    left: 50% !important;
    top: 50% !important;
    height: 115% !important;
    width: 100% !important;
    transform: translate(-50%, -50%) !important;
    backface-visibility: hidden !important;
}

.section7 .Testimonials .thumbi .thumbnail:hover {
    backface-visibility: hidden !important;
    transform: scale(1.1, 1.1) !important;
    opacity: 1 !important;
}



@media (max-width: 450px) {

    .section7 .Testimonials .Tes h1 {
        font-size: 50px !important;
    }
}



/* /............../ */


.section8 img {
    border-radius: 30px !important;
    position: relative !important;
}


.section8 .form1 {
    background: #E8C19F !important;
    padding: 45px !important;
    border-radius: 20px !important;
    width: 450px !important;
    height: 650px !important;
    position: relative;
    left: -140px;
    top: 35px;
}

.section8 .form1 h1 {
    color: #843F0F !important;
    font-size: 55px !important;
    font-weight: 500 !important;
    line-height: 72.61px !important;
}


.section8 .form1 label {
    background: #E8C19F !important;
    color: #843F0F !important;
    font-weight: 600 !important;

}

.section8 .form1 input {
    background: #E8C19F !important;
    border: 1px solid #843F0F !important;
}

.section8 .form1 textarea {
    background: #E8C19F !important;
    border: 1px solid #843F0F !important;
}

.section8 .back button {
    background: #843F0F !important;
    color: #E8C19F !important;
    padding: 10px 30px !important;
    border: none !important;
    border-radius: 30px !important;
}

.section8 .back button:hover {
    background: #FFFFFF !important;
    color: #843F0F !important;
    border: 1px solid #843F0F !important;
}


@media (max-width: 450px) {
    .section8 .col-md-3 {
        margin-left: 0px;
        padding: 10px;
    }

    .section8 .form1 {
        padding: 20px;
        left: 15px !important;
        top: -15px;
        position: relative !important;
        width: 350px !important;
        height: 600px !important;
    }

    .section8 .form1 h1 {
        font-size: 30px !important;
        line-height: 1.2 !important;
    }

    .section8 .form1 input,
    .section8 .form1 textarea {
        padding: 8px;
    }

    .section8 .back button {
        padding: 8px 20px !important;
    }

}



@media (max-width: 768px) {

    .section8 .form1 {
        background: #1eb619;
        padding: 45px !important;
        border-radius: 20px !important;
        /* width: 450px !important; */
        height: 650px !important;
        position: relative !important;
        /* left: -130px !important; */
        /* top: 35px !important; */
        max-width: none;
        padding: 30px !important;
    }

    .section8 .form1 h1 {
        font-size: 40px !important;
    }

    .section8 .form1 input,
    .section8 .form1 textarea {
        font-size: 16px;
    }
}





/* /............../ */


.footer {
    background: #1F1F1F !important;
    /* height:700px; */
}

.footer .img-logo {
    width: 150px !important;
    height: 150px !important;
}

.footer .sub-input input {
    background-color: #FFFFFF !important;
    border-radius: 30px !important;
    height: 49px !important;
}

.footer .input-group button {
    position: absolute !important;
    border-radius: 30px !important;
    width: 100px !important;
    height: 40px !important;
    background: #D2B068 !important;
    color: #FFFFFF !important;
    border: none !important;
}

footer .input-group button:hover {
    background: #843F0F !important;
    color: #FFFFFF !important;
}

.footer p {
    color: #545454;
    font-size: 22px !important;
    font-weight: 400 !important;
    line-height: 34px !important;
}

.footer .icons {
    background: #313131 !important;
    color: #FFFFFF !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 05px !important;
}

.footer .all p {
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 34px !important;
}

.footer h4 {
    color: #FFFFFF !important;
    font-size: 24px !important;
    font-weight: 600 !important;
    line-height: 29.05px !important;
}

.footer h6 {
    color: #D1D1D1 !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 24.2px !important;
}